@import "tailwindcss";

/*
 * Enable built-in themes and set default/prefers-dark.
 * This should be the *first* daisyui @plugin block.
 * You list the theme names as a comma-separated string.
 * Here, we only include 'valentine'.
 */
@plugin "daisyui" {
  themes: valentine --default;
}

